close_normal      RCDATA "images\close.png"
minimize_normal   RCDATA "images\minimize.png"
maximize_normal   RCDATA "images\maximize.png"

close_hover       RCDATA "images\close-hovered.png"
minimize_hover    RCDATA "images\minimize-hovered.png"
maximize_hover    RCDATA "images\maximize-hovered.png"

close_normal_mini RCDATA "images\close-mini.png"
close_hover_mini  RCDATA "images\close-hovered-mini.png"